<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div style="display: flex; flex-direction: column; justify-content: left; align-items: center; width: 100%;">

    <input class="search" type="text" placeholder="Search...">

    <div class="drivers-container">
      <h1 class="name">Jamal</h1>
      <p class="team-name">Red Bull</p>

      <div class="position-wrapper">
        <p class="position-title">Position</p>
        <h1 class="position">#1</h1>
      </div>

      <table style="width: 75%; align-items: center;">
        <tr style="width: 100%;">
          <td class="points-title">
            <strong>
              Points
            </strong>
          </td>
          <td class="points">
            12345678
          </td>
        </tr>
        <tr style="width: 100%;">
          <td class="nationality-title">
            <strong>
              Nationality
            </strong>
          </td>
          <td class="nationality">
            Jamal
          </td>
        </tr>
      </table>

    </div>

    <div class="likes-container">
      <button class="button">
        <img src="https://cdn4.iconfinder.com/data/icons/feed-back/70/Untitled-7-01-256.png" alt="" width="32px">
        <p class="likes-counter">
        </p>
      </button>
      <button class="button">
        <img src="https://cdn4.iconfinder.com/data/icons/feed-back/70/Untitled-7-15-512.png" alt="" width="32px">
        <p class="dislikes-counter">
        </p>
      </button>
    </div>

    <div class="comments-container">
      <h1 style="text-align: left; margin-left: 1rem; margin-top: 2px;">Comments</h1>
      <div class="comment">
        <input class="comment-name" type="text" placeholder="Name..." style="border: 10px black; padding: .2rem; color: black; background-color: antiquewhite; margin-top: .1rem;">
        <input class="comment-body" type="text" placeholder="Message...">
      </div>
      <div class="comment">
        <p class="comment-name">Dontavious</p>
        <p class="comment-body">Respect.</p>
      </div>
    </div>
  </div>

  <style>
  </style>
</body>

</html>